rpi.txt
[{"id":"f978189e.4bf478","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"39d64c48.2b4604","type":"PhysicalWeb in","z":"f978189e.4bf478","name":"","topic":"","duplicates":true,"x":203.16669464111328,"y":152.00000429153442,"wires":[["effbee03.d42b8"]]},{"id":"effbee03.d42b8","type":"function","z":"f978189e.4bf478","name":"","func":"var ultra_ids = [\"e6f5f2bb5b0e\", \"fb48fc3a6ee3\"];\nvar json = {};\n\nif(ultra_ids.indexOf(msg.payload.id) > -1) {\n    var r = msg.payload.url.split(\"/\");\n    json[\"result\"]= [\n        {\"mac_add\": msg.payload.id,\n        \"timestamp\": Math.round(Date.now()/1000), \n        \"value\": r[3]\n        }];\n        \n    msg.payload = json\n    return msg\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":389.1666793823242,"y":152.0000343322754,"wires":[["33002b8.cbb98d4"]]},{"id":"33002b8.cbb98d4","type":"join","z":"f978189e.4bf478","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":548.5000152587891,"y":146.0000238418579,"wires":[["e933f188.73d79","dfb71a71.08ebd8"]]},{"id":"e933f188.73d79","type":"debug","z":"f978189e.4bf478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739.1666870117188,"y":108.00000238418579,"wires":[]},{"id":"dfb71a71.08ebd8","type":"mqtt out","z":"f978189e.4bf478","name":"","topic":"test","qos":"","retain":"","broker":"b2d8a53e.a8b0d8","x":740.3333320617676,"y":238.00004768371582,"wires":[]},{"id":"55071f3c.5217a","type":"inject","z":"f978189e.4bf478","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":268.1000061035156,"y":335.00000381469727,"wires":[["336772e7.e8106e","b176159d.7c9198"]]},{"id":"336772e7.e8106e","type":"mqtt out","z":"f978189e.4bf478","name":"","topic":"cs462-team3","qos":"","retain":"","broker":"b2d8a53e.a8b0d8","x":564.0000076293945,"y":337.00000381469727,"wires":[]},{"id":"b176159d.7c9198","type":"debug","z":"f978189e.4bf478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":602.1000556945801,"y":419.4000053405762,"wires":[]},{"id":"b2d8a53e.a8b0d8","type":"mqtt-broker","z":"","name":"HiveMQTT","broker":"broker.mqttdashboard.com","port":"8000","clientid":"cs462-team3-NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]