rpi_13032020.txt
[
    {
        "id": "e22d85e3.7b7378",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a27974b.3b9f08",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var ultra_ids = [\"e6f5f2bb5b0e\", \"fb48fc3a6ee3\"];\nvar json = {};\n\nif(ultra_ids.indexOf(msg.payload.id) > -1) {\n    var r = msg.payload.url.split(\"/\");\n    json[\"result\"]= [\n        {\"mac_add\": msg.payload.id,\n        \"timestamp\": Math.round(Date.now()/1000), \n        \"in_out\": r[3],\n        \"value\": r[4]\n        }];\n        \n    msg.payload = json\n    return msg\n}\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 368.1667137145996,
        "y": 72.00004768371582,
        "wires": [
            [
                "a6654145.3e292"
            ]
        ]
    },
    {
        "id": "a6654145.3e292",
        "type": "join",
        "z": "e22d85e3.7b7378",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "30",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 465.5000114440918,
        "y": 140.00004386901855,
        "wires": [
            [
                "61035ddb.229854"
            ]
        ]
    },
    {
        "id": "61035ddb.229854",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var json = {};\n\njson['type']='ultrasonic';\njson['result']=msg.payload;\n\nmsg.payload = json\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 541.0555973052979,
        "y": 191,
        "wires": [
            [
                "26c2207f.854be",
                "cd4468b.cca5198"
            ]
        ]
    },
    {
        "id": "54b09328.59278c",
        "type": "grove analog sensor",
        "z": "e22d85e3.7b7378",
        "name": "",
        "pin": "2",
        "sensor": "sound",
        "repeat": "1",
        "board": "a125a0a4.f0d27",
        "x": 123,
        "y": 361.00006103515625,
        "wires": [
            [
                "d547005b.edf72"
            ]
        ]
    },
    {
        "id": "c501ebe1.9f7db8",
        "type": "debug",
        "z": "e22d85e3.7b7378",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910.055585861206,
        "y": 385.0000810623169,
        "wires": []
    },
    {
        "id": "3b0a1556.3b40da",
        "type": "mqtt out",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "cs462-team3",
        "qos": "",
        "retain": "",
        "broker": "2e30933d.7d665c",
        "x": 929.0556087493896,
        "y": 278.0000591278076,
        "wires": []
    },
    {
        "id": "c3acf67b.8b4288",
        "type": "join",
        "z": "e22d85e3.7b7378",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "300",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 558.0555992126465,
        "y": 362.00008153915405,
        "wires": [
            [
                "b0ac969b.1e4648",
                "7b87e030.d74bf"
            ]
        ]
    },
    {
        "id": "d547005b.edf72",
        "type": "join",
        "z": "e22d85e3.7b7378",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "60",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 292.00004959106445,
        "y": 363,
        "wires": [
            [
                "ce126db2.250f3"
            ]
        ]
    },
    {
        "id": "ce126db2.250f3",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "arr_length = msg.payload.length;\ntotal = 0;\nvar json = {};\nfor(var i=0;i<arr_length;i++) {\n    total += msg.payload[i];\n}\naverage = total/arr_length;\n\nif (average > 0) {\n    json[\"result\"] = [{\n        \"timestamp\": Math.round(Date.now()/1000),\n        \"value\": 1\n        }\n        ];\n    msg.payload = json\n    return msg\n}\n\nelse {\n    json[\"result\"] = [\n        {\"mac_add\": \"X001\",\n        \"timestamp\": Math.round(Date.now()/1000),\n        \"value\": 0\n        }\n        ];\n    msg.payload = json\n    return msg\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 429.0000915527344,
        "y": 361.0000400543213,
        "wires": [
            [
                "c3acf67b.8b4288"
            ]
        ]
    },
    {
        "id": "7a98fec4.20a46",
        "type": "PhysicalWeb in",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "",
        "duplicates": true,
        "x": 103.16670227050781,
        "y": 189.0000114440918,
        "wires": [
            [
                "ade8b813.004ea8",
                "6f7afe85.5d5b2"
            ]
        ]
    },
    {
        "id": "c997d2fa.709fd",
        "type": "inject",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 166,
        "y": 453.3333435058594,
        "wires": [
            [
                "14f87710.dadaf9"
            ]
        ]
    },
    {
        "id": "64d369b0.5364d8",
        "type": "join",
        "z": "e22d85e3.7b7378",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "3600",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 653.8333511352539,
        "y": 544.6666622161865,
        "wires": [
            [
                "f0e5531b.b50e6"
            ]
        ]
    },
    {
        "id": "e0f07c9b.88326",
        "type": "inject",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 212.83333587646484,
        "y": 580.6666641235352,
        "wires": [
            [
                "755a7f13.be93a"
            ]
        ]
    },
    {
        "id": "c0d0528a.253ad",
        "type": "inject",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 164,
        "y": 501.3333435058594,
        "wires": [
            [
                "e2fbf03d.34a07"
            ]
        ]
    },
    {
        "id": "35ec2c2c.623804",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var a = {\"value\": Math.round(msg.payload)};\nmsg.payload = a;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 518.1666793823242,
        "y": 460.3333568572998,
        "wires": [
            [
                "64d369b0.5364d8"
            ]
        ]
    },
    {
        "id": "c92fda78.5e8cb8",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var b = {\"temperature\": msg.payload};\nmsg.payload = b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 515.0000152587891,
        "y": 514.3333568572998,
        "wires": [
            [
                "64d369b0.5364d8"
            ]
        ]
    },
    {
        "id": "755a7f13.be93a",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var c = {\"timestamp\": msg.payload};\nmsg.payload = c;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 442.0000534057617,
        "y": 588.0000171661377,
        "wires": [
            [
                "64d369b0.5364d8"
            ]
        ]
    },
    {
        "id": "d1e58edb.4f059",
        "type": "debug",
        "z": "e22d85e3.7b7378",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 967.166690826416,
        "y": 588.0000162124634,
        "wires": []
    },
    {
        "id": "ade8b813.004ea8",
        "type": "switch",
        "z": "e22d85e3.7b7378",
        "name": "",
        "property": "payload.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "http://abc.com/out/notworkin",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "http://abc.com/in/notworking",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "http://abc.com/out/working",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "http://abc.com/in/working",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 266.5000686645508,
        "y": 266.000057220459,
        "wires": [
            [
                "124a88dd.7cb5e7"
            ],
            [
                "124a88dd.7cb5e7"
            ],
            [
                "124a88dd.7cb5e7"
            ],
            [
                "124a88dd.7cb5e7"
            ]
        ]
    },
    {
        "id": "124a88dd.7cb5e7",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "\nvar json = {};\nvar r = msg.payload.url.split(\"/\");\n\njson[\"results\"]= [\n        {\"mac_add\": msg.payload.id,\n        \"timestamp\": Math.round(Date.now()/1000),\n        \"value\": r[4],\n        \"temperature\": null\n        }];\n    \n        \n    msg.payload = json\n    return msg\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 429.00000762939453,
        "y": 262.0000801086426,
        "wires": [
            [
                "822eaa82.536168"
            ]
        ]
    },
    {
        "id": "26c2207f.854be",
        "type": "debug",
        "z": "e22d85e3.7b7378",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 689.1666870117188,
        "y": 138.00003051757812,
        "wires": []
    },
    {
        "id": "6f7afe85.5d5b2",
        "type": "switch",
        "z": "e22d85e3.7b7378",
        "name": "",
        "property": "payload.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "http://abc.com/out/notworkin",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "http://abc.com/in/notworking",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "http://abc.com/out/working",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "http://abc.com/in/working",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 267.00000762939453,
        "y": 192.00000762939453,
        "wires": [
            [
                "2a27974b.3b9f08"
            ],
            [
                "2a27974b.3b9f08"
            ],
            [
                "2a27974b.3b9f08"
            ],
            [
                "2a27974b.3b9f08"
            ]
        ]
    },
    {
        "id": "cd4468b.cca5198",
        "type": "mqtt out",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "cs462-team3",
        "qos": "",
        "retain": "",
        "broker": "2e30933d.7d665c",
        "x": 697.3333129882812,
        "y": 222,
        "wires": []
    },
    {
        "id": "7b87e030.d74bf",
        "type": "mqtt out",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "cs462-team3",
        "qos": "",
        "retain": "",
        "broker": "2e30933d.7d665c",
        "x": 819.3333511352539,
        "y": 428.0000219345093,
        "wires": []
    },
    {
        "id": "e888373f.cecc28",
        "type": "mqtt out",
        "z": "e22d85e3.7b7378",
        "name": "",
        "topic": "cs462-team3",
        "qos": "",
        "retain": "",
        "broker": "2e30933d.7d665c",
        "x": 917.0000228881836,
        "y": 513.0000133514404,
        "wires": []
    },
    {
        "id": "14f87710.dadaf9",
        "type": "cpu",
        "z": "e22d85e3.7b7378",
        "name": "",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 354.00000762939453,
        "y": 452.6666898727417,
        "wires": [
            [
                "35ec2c2c.623804"
            ]
        ]
    },
    {
        "id": "e2fbf03d.34a07",
        "type": "cpu",
        "z": "e22d85e3.7b7378",
        "name": "",
        "msgCore": false,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": true,
        "x": 352.00000762939453,
        "y": 500.6666898727417,
        "wires": [
            [
                "c92fda78.5e8cb8"
            ]
        ]
    },
    {
        "id": "41dca770.7cda18",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var json = {};\n\njson['type']='ultrasonic_health';\njson['sensor_health']=msg.payload;\n\nmsg.payload = json\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 733.000020980835,
        "y": 280.66667556762695,
        "wires": [
            [
                "3b0a1556.3b40da",
                "3ceb3340.5b809c"
            ]
        ]
    },
    {
        "id": "3ceb3340.5b809c",
        "type": "debug",
        "z": "e22d85e3.7b7378",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 937.3333377838135,
        "y": 342.6666660308838,
        "wires": []
    },
    {
        "id": "f0e5531b.b50e6",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var json = {};\njson['mac_add'] = 'pi123'\njson['type']='raspberry pi';\njson['sensor_health']=msg.payload;\n\n\nmsg.payload = json\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 753.000020980835,
        "y": 638.3333263397217,
        "wires": [
            [
                "e888373f.cecc28",
                "d1e58edb.4f059"
            ]
        ]
    },
    {
        "id": "b0ac969b.1e4648",
        "type": "function",
        "z": "e22d85e3.7b7378",
        "name": "",
        "func": "var json = {};\njson['mac_add'] = \"X001\"\njson['type']='pir';\njson['sensor_health']=msg.payload;\n\nmsg.payload = json\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 719,
        "y": 349.33335304260254,
        "wires": [
            [
                "c501ebe1.9f7db8",
                "7b87e030.d74bf"
            ]
        ]
    },
    {
        "id": "822eaa82.536168",
        "type": "join",
        "z": "e22d85e3.7b7378",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 578.3333473205566,
        "y": 265.0000190734863,
        "wires": [
            [
                "41dca770.7cda18"
            ]
        ]
    },
    {
        "id": "a125a0a4.f0d27",
        "type": "board-config",
        "z": "",
        "board": "GrovePi"
    },
    {
        "id": "2e30933d.7d665c",
        "type": "mqtt-broker",
        "z": "",
        "name": "HiveMQTT",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "cs462-team3-NodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]